.container {
    width: 12rem;
    height: 1.5rem;
    background: #f1f6f9d8;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.2rem;
}
table {
    width: 75%;
    height: 100%;
}
td {
    font-size: 10px;
    width: 25%;
}