.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 70rem;
    height: 4rem;
    background: #F1F6F9;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
}
.productInfo {
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.productInfo p,.productInfo h5 {
    font-size: medium;
}
.container button {
    width: 5rem;
    height: 2rem;
    border: 0;
    background: #212A3E;
    color: #F1F6F9;
    border-radius: 0.5rem;
    margin-right: 1rem;
    cursor: pointer;
    transition: all 0.5s;
    transform: scale(1);
}
.container button:hover {
    transform: scale(1.1);
}