.cardOverlay {
    width: 15rem;
    height: 15rem;
    background: #18122bce;
    border-radius: 0 0 0.5rem 0.5rem;
    float: left;
    position: absolute;
    top: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}