<aside>
  <div class="container">
    <ul>
      <li class="allCategoryLi" (click)="setSeleted('allCategory')">
        <span class="allCategoryTxt">All Categories</span>
      </li>
      <li class="breadLi" (click)="setSeleted('bread')">
        <span class="breadTxt">Bread</span>
      </li>
      <li class="fruitLi" (click)="setSeleted('fruit')">
        <span class="fruitTxt">Fruits</span>
      </li>
      <li class="vegetableLi" (click)="setSeleted('vegetable')">
        <span class="vegetableTxt">vegetables</span>
      </li>
    </ul>
  </div>
</aside>
