.container {
    display: flex;
    flex-direction: column;
    margin-left: 4.5rem;
}
.container button {
    background: transparent;
    width: 100%;
    border: 0;
    cursor: pointer;
}
.cardIcon {
    font-size: 1.5rem;
    color: #fff;
}
.cardOverlay {
    width: 12rem;
    height: 15rem;
    background: #18122bce;
    border-radius: 0 0 0.5rem 0.5rem;
    float: left;
    position: absolute;
    top: 4.5rem;
}